body {
    margin: 0;
    font-family:'Roboto', sans-serif;
    font-size: 130%;
    font-weight: bold;
    background-color: #f0edeb;
}
h1 {
    font-family:'Lato', sans-serif;
    font-size: 5.5rem;
    color: black;
    text-align: center;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 3rem;
    text-align: center;
     background-color: #D1C3B7;
}
a {
    font-family:'Roboto', sans-serif;
    font-size: 0.25rem;
    text-decoration: none;
}
a:hover{
    color: #eaf6f6
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
.top {
    background-color: #D1C3B7;
    position: relative;
    padding: 5px 0 5px 0;
    line-height: 0.5;
    background-image: url(thecry.png);
}
.middle {
    color:#40514E;
}
.bottom {
    margin-bottom: 0%;
    background-color: #D1C3B7;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}
.pro {
    text-decoration: underline;
    font-size: 1.25em;
}
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 350px;
}
.up-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
}
.controversy {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
}
.footer-link {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.footer-link2 {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    margin-left: 20px;
}
.skill-row {
    width: 100%;
    margin: 50px auto 50px auto;
    text-align: left;
    line-height: 2;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #ece4dc;
}
.pic-1 {
    width: 400px;
    height: 500px;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
    position: relative;
}
.pic-2 {
    width: 290px;
    height: 400px;
    float: left;
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
}
.pic-3 {
    width: 750px;
    height: 500px;
    margin-left: 170px;
    margin-right: 100px;
    margin-bottom: 20px;
    position: relative;
}
.pic-4 {
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
    position: relative;
    float: right;
    margin-left: 20px;
}
.pic-5 {
    width: 300px;
    height: 400px;
    float: right;
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
}
.pic-7 {
    width: 350px;
    height: 400px;
    float: left;
    padding-bottom: 10px;
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
}
.pic-8 {
    width: 400px;
    height: 400px;
    float: right;
    position: relative;
    padding-left: 20px;
    padding-right: 10px;
}
.pic-9 {
    width: 450px;
    height: 350px;
    float: left;
    position: relative;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 60px;
}
.second-skill {
    width: 200px;
    height: 350px;
    float: right;
    padding-left: 10px;
}
.profile-picture {
    width: 25%
}
hr {
    border-top: 8px dotted #a0a0a0;
    width: 4%;
    border-bottom: none;
    margin: 50px auto;
}
p {
    padding-bottom: 40px;
    line-height: 2;
}
.credit-end {
    color: #EAF6F6;
}
.contact-msg {
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: brown;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: brown;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}
.intro-1 {
    margin: auto;
    width: 70%;
    text-align: justify;
    font-weight: bolder;
    padding-left: 275px;
    padding-bottom: 150px;
}
.intro-2 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
}
.intro-3 {
    margin: auto;
    width: 100%;
    text-align: justify;
    font-weight: bolder;
}
.intro-4 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
    margin-right: 275px;
    padding-left: 20px;
padding-bottom: 80px;
}
.intro-5 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
    padding-bottom: 20px;
}
.intro-6 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
}
.intro-7 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
    margin-bottom: 100px;
}
.intro-8 {
    margin: auto;
    width: 80%;
    text-align: justify;
    font-weight: bolder;
    font-style: italic;
}
.intro-9 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
}
.intro-11 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
}
.intro-10 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
}
.intro-12 {
    margin: auto;
    width: 95%;
    text-align: justify;
    font-weight: bolder;
    padding-bottom: 120px;
}
.profile {
    line-height: 0.5;
  }
p {
    font-size: 1.4rem;
}
.skill-row {
    width: 85%;
}
.ArtWork {
    text-align: center;
}
.marks {
    text-align: right;
}
.statement {
    text-align: left;
}
.contact-msg {
    width: 85%;
}
.paintings {
    margin: 100px 0 10px 0;
    position: relative;
}
.first-mon {
    text-align: left;
}
.second-mon {
    text-align: left;
    position: relative;
}
.third-mon {
    text-align: right;
}
.val {
    text-align: right;
}
.second {
    margin-bottom: -50px;
}
.description {
    font-size: 1.25rem;
}
.footer-link4 {
    color: rgb(58, 48, 35);
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    padding: 10px;
}

